{% extends 'frame.html' %}
{% block content %}

<div id="intro_paper">
	<h1>關於本刊</h1>
	<div class="thirteen wide field">
   		<div style="text-align: center"><h5> ISSN 1028-7310 </h5></div>
		<div style="text-align: center"><h3> 本刊已於2000年收錄為TSSCI資料庫期刊名單</h3></div>
		<h3> </h3>
		<h4> 期刊收錄狀態： 正常發行</h4>
		<h4> 期刊名稱(中)： 交大管理學報</h4>
		<h4> 發行週期： 半年刊</h4>
		<h4> 創刊年： 1981</h4>
		<h4> 出版地區： 台灣-新竹市</h4>
		<h4> 出版處： 國立交通大學管理科學學系（新竹市大學路1001號 ）</h4>
		<h4> 發行人： 吳 妍 華（交通大學校長）</h4>
		<h4> 主任委員： 黃 仁 宏 教授</h4>
		<h4> 期刊備註： 原英文刊名：Chiao Ta Management Review</h4>
		<h3> 
			1.   「交大管理學報」創刊於民國七十年，為一份屬於管理學界所共有的學術期刊，舉凡國內外一切有關管理科學之論文，均為學報文章發行主題
		</h3>
		<h3>
			2.   本刊目前為半年刊，每年6月以及12月出刊，歡迎各學術先進踴躍賜稿。
		</h3>
		<h3>
			3.   若有任何疑問，請聯絡交大管理學報編輯小組 錢裕如小姐(請儘量使用電子郵件聯絡，以便於追蹤)
		</h3>
		<h4> 投稿信箱：nctucdmr@gmail.com</h4>
		<h4> 聯絡電話：886-3-5733062</h4>
		<h4> 傳    真：886-3-5733062 </h4>
		<h4> 地    址：新竹市大學路1001號 交通大學管理壹館325室  交大管理學報編輯室</h4>
	</div>
</div>

{% end %}
