{% extends 'frame.html' %}
{% block content %}

<div id="intro_department">
   <h1>系所介紹</h1>
   <div class="thirteen wide field">
      <h3>
      管理科學系在校友催促及國家社會需求下，於民國六十年設立，一直以培育管理人才為設系主旨， 畢業學生遍及國內外公民營及學術機構，以優良的推理、執行與管理能力， 承續了本校優良的學風，為國內外傳統管理訓練注入新生力量。
      </h3>
      <ol>
         <lh><h4>科系的目標是藉由教育訓練過程而達到培養具有下述特質之高級人才：</h4>
         <li><h4>    能以客觀的態度對事務進行判斷並作正確的評估。</h4>
         <li><h4>    有創意及旺盛的想像力。</h4>
         <li><h4>    有熟練的人際關係，不僅要有善與人處的天性，而且應該具備機警、圓融、外交手腕、領導方法等特質，以進行有效的團隊工作。</h4>
         <li><h4>    有充分的表達能力，能以口語、文字、或圖表等方式將結論或觀點作清晰的表達，使有關的人瞭解並接受。</h4>
         <li><h4>    能夠善用各種專業知識於高層管理實務。</h4>
         <li><h4>    能夠發掘問題、研擬問題、界定問題、分析問題及解決問題。</h4>
         <li><h4>    具獨立研究能力。</h4>
      </ol>
      <ol>
         <lh><h4>為達成上述管理教育的目標，管研所應具備下述之條件：</h4>

         <li><h4>提供涵蓋管理科學各有關學域的知識與學問的授業環境 </h4>
         <li><h4>提供進行科際整合訓練的程序 </h4>
         <li><h4>提供進行團隊工作的訓練 </h4>
         <li><h4>提供進行獨立研究的基本訓練。 </h4>
      </ol>
      <h3>
      一個系(所)的生命力是以它滋生新知識的能力來衡量，而滋生新知識的能力則是透過學術研究來達成。 因此，管科系(所)除了透由教學活動為國家培育經建發展所需的高級管理人才外，還擔負著藉由研究以開創新知， 領導學術的使命。由於管理科學係屬科際整合性的新興科學，所以其研究領域更屬廣泛而具挑戰性。
      </h3>
   </div>
</div>

{% end %}
