{% extends 'frame.html' %}
{% block content %}

<form id="login_form" class="ui form">
    <div class="field">
        <label><h2>E-mail</h2></label>
        <input name="email" type="text">
    </div>
    <div class="field">
        <label><h2>Password</h2></label>
        <input name="password" type="password">
    </div>
        <input name="req" type="hidden" value="signin">
    <div class="ui blue submit button" onclick="send();">送出</div>
</form>
<script>
function send(){
    info = $("#login_form").serialize();
    alert(info);
    $.post(
            "/login",
            info,
            function(msg){
                alert(msg);
            }
    );
}
</script>

{% end %}

