{% extends 'frame.html' %}
{% block content %}

{% if acct == None %}
<script>window.location="/"</script>
{% else %}
<form id="edit" class="ui form">
    <h2 class="ui dividing header">Personal Information</h2>
    <div class="field">
        <label><h3>姓名</h3></label>
        <input name="name" type="text" value="{{ '' if acct["name"] == None else acct["name"]  }}">
    </div>
    <div class="field">
        <label><h3>Name</h3></label>
            <div class="two fields">
                <div class="field">
                    <input name="first_name" type="text" placeholder="First Name" value="{{ '' if acct["first_name"] == None else acct["first_name"]  }}">
                </div>
                <div class="field">
                    <input name="last_name" type="text" placeholder="Last Name" value="{{ '' if acct["last_name"] == None else acct["last_name"]  }}">
                </div>
            </div>
    </div>
    <div class="field">
        <label><h3>Gender</h3></label>
        <select name="gender" class="ui dropdown" value="先生">
            <option value="">　</option>
            {% set gender=["先生", "女士"] %}
            {% for i in gender %}
                <option value="{{i}}" {{'selected' if acct["gender"] == i else ''}} >{{i}}</option>
            {% end %}
        </select>
    </div>
    <div class="field">
        <label><h3>學位</h3></label>
        <select name="degree" class="ui dropdown">
            <option value="">　</option>
            {% set degree=["博士", "碩士", "學士", "其他"] %}
            {% for i in degree %}
                <option value="{{i}}" {{'selected' if acct["degree"] == i else ''}} >{{i}}</option>
            {% end %}
        </select>
    </div>
    <div class="field">
        <label><h3>國籍</h3></label>
        <input name="country" type="text" value="{{ '' if acct["country"] == None else acct["country"]  }}">
    </div>
    <div class="field">
        <label><h3>服務機構名稱</h3></label>
        <input name="affiliation" type="text" value="{{ '' if acct["affiliation"] == None else acct["affiliation"]  }}">
    </div>
    <div class="two fields">
        <div class="field">
        <label><h3>部門</h3></label>
            <input name="department" type="text" placeholder="Department" value="{{ '' if acct["department"] == None else acct["department"]  }}">
        </div>
        <div class="field">
            <label><h3>職稱</h3></label>
            <select name="position" class="ui dropdown">
                <option value="">　</option>
                {% set position=["講師", "助理教授", "副教授", "教授", "研究人員", "其他"] %}
                {% for i in position %}
                    <option value="{{i}}" {{'selected' if acct["position"] == i else ''}} >{{i}}</option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="fields">
        <div class="three wide field">
            <label><h3>郵遞區號<a class="ui green button right" style="padding: 5px;" href="http://www.post.gov.tw/post/internet/Postal/index.jsp?ID=208" target="_blank">查詢</a></h3></label>
            <input name="affiliation_postcode" value="{{ '' if acct["affiliation_postcode"] == None else acct["affiliation_postcode"] }}">
        </div>
        <div class="thirteen wide field">
            <label><h3>服務機構地址</h3></label>
            <input name="affiliation_address" value="{{ '' if acct["affiliation_address"] == None else acct["affiliation_address"] }}">
        </div>
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input id="set_contact_as_affiliation" type="checkbox">
            <label>同服務機構地址</label>
        </div>
    </div>
    <div class="fields">
        <div class="three wide field">
            <label><h3>郵遞區號<a class="ui green button right" style="padding: 5px;" href="http://www.post.gov.tw/post/internet/Postal/index.jsp?ID=208" target="_blank">查詢</a></h3></label>
            <input name="contact_postcode" value="{{ '' if acct["contact_postcode"] == None else acct["contact_postcode"] }}">
        </div>
        <div class="thirteen wide field">
            <label><h3>聯絡地址</h3></label>
            <input name="contact_address" value="{{ '' if acct["contact_address"] == None else acct["contact_address"] }}">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label><h3>手機號碼</h3></label>
			<input name="cellphone" type="text" value="{{acct['cellphone']}}">
        </div>
        <div class="field">
            <label><h3>室內電話</h3></label>
			<input name="telephone" type="text" value="{{acct['tellphone']}}">
        </div>
    </div>
    <div class="field">
        <label><h2>Password</h2></label>
        <input name="password" type="password">
    </div>
    <input name="req" type="hidden" value="edit">
    <div class="ui blue submit button" onclick="send();">送出</div>
</form>
<script>
$( document ).ready(function(){
    $('select.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
});
function send(){
    if( $("#set_contact_as_affiliation").prop("checked")){
        $("input[name='contact_address']").val($("input[name='affiliation_address']").val());
        $("input[name='contact_postcode']").val( $("input[name='affiliation_postcode']").val());
    }
    info = $("#edit").serialize();
    alert(info);
    $.post(
        "/login",
        info,
        function(msg){
            alert(msg);
        }
    );
}
</script>

{% end %}

{% end %}
