{% extends 'frame.html' %}
{% block content %}

<div class="notice">
   <h1>投稿須知</h1>
   <h3>
      投稿稿件格式請參閱約稿格式，稿件為一式二份；一份請註明作者完整之中英文姓名(注意！檔案請以Word格式的電子檔案檔)、中英文服務單位以及聯絡方式；另一份為匿名文稿。(注意！檔案請以PDF格式的電子檔案)
   </h3>
   <h3>
      來稿一律以透過本站申請帳號後，點選線上投稿功能投稿。我們在收到稿件後，會以透過電子郵件告知稿件編號，亦可透過本站登入帳號後觀看學報審查狀態，以後的通訊就依稿件編號為準。
   </h3>
   <h3>
      本刊從九十八年度起，全面改成英文。作者若以中文投稿，在正式接受刊登前，需將稿件內容改為英文。
   </h3>

	<div>
		<font>內　　容:<br></font>
		<font size="+1"> 
			歡迎國內外一切有關管理科學之論文（不以國立交通大學之教職員生為限）。來稿請以中文或英文撰之，並且橫式（由左而右）打字。<br>
		</font>
		<font size="+1">標　　題:<br></font>
		<font size="+1">
			力求簡潔而且能充分表達論文的重要概念及貢獻。請附中英文標題各一式。<br>
		</font>
		<font size="+1">
			（例）決策活動本質的討論<br>
		</font>
		<font size="+1">
			A Discussion on the Substance of Decision Activities<br>
		</font>
		<font size="+1">
			作　　者<br>
                </font>
		<font size="+1">
			請附上作者中英文姓名及服務單位<br>
                </font>
		<font size="+1">
			摘　　要 <br>
                </font>
		<font size="+1">
			以簡明扼要方式，敘述論文的重要貢獻及內容。無論以中文或英文撰寫，一律附上中英文摘要一份，字數皆為500字以內。<br>
                </font>
		<font size="+1">
			（例）Abstract -- This paper discusses the used methodologies......<br>
                </font>
		<font size="+1">
			摘要：本文的主要內容係就過去論決策過程或.....<br>
                </font>
		<font size="+1">
			關 鍵 詞 <br>
                </font>
		<font size="+1">
			請於摘要後附上中英文關鍵詞（keywords）。<br>
                </font>
		<font size="+1">
			（例）Keywords : Sensitivity Analysis; Stochastic Model<br>
                </font>
		<font size="+1">
			關鍵詞：敏感度分析；隨機模式<br>
                </font>
		<font size="+1">
			章　　節 <br>
                </font>
		<font size="+1">
			章節之標號以及圖表之標號，無論以中文或英文撰寫，一律以阿拉伯數字表之。如下例所示：<br>
                </font>
		<font size="+1">
			（例） 4. The EPASP Model<br>
                </font>
		<font size="+1">
			4.1 Overview<br>
                </font>
		<font size="+1">
			4.1.1 ......<br>
                </font>
		<font size="+1">
			參　　註 <br>
                </font>
		<font size="+1">
			文中引用文獻時，請註明作者姓名，後附年代。文中如果標示註腳，請用阿拉伯數字順序不重複地寫在右上角。如果作者人數超過四人（含），請用et al.格式。<br>
                </font>
		<font size="+1">
			（例）參閱文獻部份<br>
                </font>
		<font size="+1">
			曾國雄、鄧振源（民80）以因素分析及群落分析進行....<br>
                </font>
		<font size="+1">
			Wigley and Raper (1990) used a general circulation model ......<br>
		</font>
		<font size="+1">
			（例）註腳部份<br>
                </font>
		<font size="+1">
			...... even more difficult, ...... NP-complete.2 <br>
                </font>
		<font size="+1">
			2 The authors are grateful to M.L. Fisher for his …..<br>
                </font>
		<font size="+1">
			（例）Huang et al. (2004)討論福利制度和……<br>
                </font>
		<font size="+1">
			附　　錄 <br>
                </font>
		<font size="+1">
			若有附錄，請依序（如附錄一，附錄二，....）置於參考文獻之前。<br>
                </font>
		<font size="+1">
			參考文獻 <br>
                </font>
		<font size="+1">
			參考文獻部份，請將中文列於前，英文列於後。中文按姓氏筆劃、英文按姓氏字母次序排列，採用格式請參照下例為準。<br>
                </font>
		<font size="+1">
			例：<br>
                </font>
		<font size="+1">
			吳欽杉 (民78)，「資本市場的成交價格與均衡價值」，管理科學學報，第六卷第二期，107-118頁。<br>
                </font>
		<font size="+1">
			陳文哲、楊銘賢、林隆儀 (民81)，管理統計(新版)，中興管理顧問公司。<br>
                </font>
		<font size="+1">
			黃達業 (民83)，「九○年代財務管理教育的新領域－財務工程與金融創新－之探討」，第五屆中華民國管理教育研討會論文集，383-399頁。<br>
                </font>
		<font size="+1">
			Alexander, G. and Francis, J. (1986), Portfolio Analysis (3rd ed.), Englewood Cliffs, NJ: Prentice-Hall.<br>
                </font>
                <font size="+1">
			Breiman, L. and Spector, P. (1989), "Submodel Selection and Evaluation in Regression : The X-Random Case," Technical <br>
                </font>
                <font size="+1">
			Report1 97, University of California at Berkeley, Dept. of Statistics.<br>
                </font>
		<font size="+1">
			Diebold, F. X. and Nerlove, M. (1987), "Factor Structure in a Multivariate ARCH Model for Exchange Rate Fluctuations," in Proceedings of the Second International Tampere Conference in Statistics, pp. 429-438.<br>
                </font>
                <font size="+1">
			Goetzmann, W. N. (1993), "Patterns in Three Centuries of Stock Market Prices," Journal of Business, 66(2), 249-270.<br>
                </font>
                <font size="+1">
			Harvey, C. (1991), "The Specification of Conditional Expectations," unpublished manuscript, Duke University, Dept. of Economics.<br>
                </font>
		<font size="+1">
                </font>
	</div>
</div>

{% end %}
