{% extends 'frame.html' %}
{% block content %}

<form id="register_form" class="ui form">
    <div class="field">
        <label><h2>E-mail</h2></label>
        <input name="email" type="text">
    </div>
    <div class="field">
        <label><h2>Password</h2></label>
        <input name="password" type="password">
    </div>
    <div class="field">
        <label><h2>Confirm Password</h2></label>
        <input name="repassword" type="password">
    </div>
    <div id="register_button" class="ui blue submit button" onclick="send();">送出</div>
</form>
<script>
$( document ).ready(function(){
    $('select.dropdown').dropdown();
});
function send(){
    register_button = $("#register_button");
    $("#register_button").addClass("disabled");
    info = $("#register_form").serialize();
    $.post(
            "/register",
            info,
            function(msg){
                if(msg == "S")
                    window.location="/";
                else{
                    humane.log(msg, {timeout: 1000}, function(){
                        register_button.removeClass("disabled");
                    });
                }
            }
    );
}
</script>

{% end %}

