{% extends 'frame.html' %}
{% block content %}

<form id="register_form" class="ui form">
    <div class="field">
        <label><h2>E-mail</h2></label>
        <input name="email" type="text">
    </div>
    <div class="field">
        <label><h2>Password</h2></label>
        <input name="password" type="password">
    </div>
    <div class="field">
        <label><h2>Confirm Password</h2></label>
        <input name="repassword" type="password">
    </div>
    <div class="ui blue submit button" onclick="send();">送出</div>
</form>
<script>
$( document ).ready(function(){
    $('select.dropdown').dropdown();
});
function send(){
    info = $("#register_form").serialize();
    $.post(
            "/register",
            info,
            function(msg){
                alert(msg);
            }
    );
}
</script>

{% end %}

