{% extends 'frame.html' %}
{% block content %}

	{% if acct == None %}
	<script>window.location="/"</script>
	{% else %}
	{{meta}}
	<div class="ui segment">
		<h1>審查中論文</h1>
		<h3>未審</h3>
		<div class="ui clearing divider"></div>
			<div id="paper">
				<table class="ui table">
					<thead>
						<tr>
							<th>編號</th>
							<th>中文名稱</th>
							<th>英文名稱</th>
							<th>審查階段</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		<h3>一審</h3>
		<div class="ui clearing divider"></div>
			<div id="paper">
				<table class="ui table">
					<thead>
						<tr>
							<th>編號</th>
							<th>中文名稱</th>
							<th>英文名稱</th>
							<th>審查階段</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		<h3>二審</h3>
		<div class="ui clearing divider"></div>
			<div id="paper">
				<table class="ui table">
					<thead>
						<tr>
							<th>編號</th>
							<th>中文名稱</th>
							<th>英文名稱</th>
							<th>審查階段</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		<h3>三審</h3>
		<div class="ui clearing divider"></div>
			<div id="paper">
				<table class="ui table">
					<thead>
						<tr>
							<th>編號</th>
							<th>中文名稱</th>
							<th>英文名稱</th>
							<th>審查階段</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		<h1>審查通過論文</h1>
		<div id="pass_paper">
			<table class="ui table">
				<thead>
					<tr>
						<th>編號</th>
						<th>中文名稱</th>
						<th>英文名稱</th>
						<th>審查階段</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	{% end %}
{% end %}
