{% extends 'frame.html' %}
{% block content %}

{% if acct == None %}
<script>window.location="/"</script>
{% else %}
<div class="ui segment">
	<h1>審查中論文</h1>
	<div id="paper">
		<table class="ui table">
			<thead>
				<tr>
					<th>編號</th>
					<th>中文名稱</th>
					<th>英文名稱</th>
					<th>審查階段</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<h1>審查通過論文</h1>
	<div id="pass_paper">
		<table class="ui table">
			<thead>
				<tr>
					<th>編號</th>
					<th>中文名稱</th>
					<th>英文名稱</th>
					<th>審查階段</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<script>
function load_paper(container, papercheck){
	data = {
		req: "get_paper",
		papercheck: papercheck
	};
	rep = ["pid", "chinesetitle", "englishtitle"];
	paper_check = ["未審","一審","二審","三審"];
	$.post("./showpaper", data, function(JData){
		tbody = container.find("tbody");
		$.each(JData, function(){
			contents = "<tr><td>%pid%</td><td>%chinesetitle%</td><td>%englishtitle%</td><td>%papercheck%</td><td class='hover'><a href='/showpaper?pid=%pid%'>查看</a></td></tr>";
			data = this;
			$.each(rep, function(k, v){
				reg = new RegExp("%"+v+"%", 'g');
				contents = contents.replace(reg, data[v]);
			});
			reg = new RegExp("%papercheck%", 'g');
			contents = contents.replace(reg, paper_check[data["papercheck"]]);	
			tbody.prepend( contents );
		});
	}, "json");
}
$(document).ready(function(){
	load_paper($("#paper"), [0, 1, 2, 3]);
	load_paper($("#pass_paper"), [9]);
});
</script>
{% end %}
{% end %}
